body {
  padding: 2rem;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 16px;
  margin-top: 0;
  line-height: 1.2;
}

p {
  color: rgb(107, 114, 128);
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 5px;
}


